# Helium API Configuration
# Get your API key from https://he2.ai
# Format: he-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# HELIUM_API_KEY=he-ONQtrtXw1oflu9SmCu5ybZst2f3Apw0ivxY2

# PostgreSQL Database Configuration
DATABASE_URL=postgresql://sudarshan:123456@localhost:5432/postgres
